- if comment && comment.person
  %span.loading
    = image_tag 'ajax-loader-bar.gif', :class => 'on-top'
  .display-none.edit-comment.space-bottom
    = form_for comment, :remote => true do |f|
      .body-container
        = f.text_area :body, :class => 'resize-font resize-textarea body'
      .align-right.lil-space-top
        = f.submit t(:save)
        %span.cancel-edit-comment-link= link_to t(:cancel), '', :class => 'subtle-action lil-space-left'
      .clear
  = div_for comment do
    %a{:name => comment_a_name(comment)}
    -# important to have the body and the classes on the same line
    -# otherwise creates a new line break
    .body.resize-font.people-content= display_text(comment.body)
    .sub-lil-space-top.norm-space-bottom
      .align-left
        %span.edit-comment-link= link_to t(:edit),'', :class=>'subtle-action'
        %span.lil-space-left= link_to t(:permalink), [@thought, comment], :class=>'subtle-action'
        %span.lil-space-left= link_to t(:delete), [@thought, comment], :confirm => t(:r_u_sure), :method => :delete, :class=>'subtle-delete-action delete_comment', :remote => true
      .align-right
        %span.lil-size
          = time_ago_in_words comment.created_at
          ago
      .clear