<h1>Listing comments</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Thought</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.body %></td>
    <td><%= comment.thought %></td>
    <td><%= link_to 'Show', [current_person, @thought, comment] %></td>
    <td><%= link_to 'Edit', edit_person_thought_comment_path(current_person, @thought, comment) %></td>
    <td><%= link_to 'Destroy', [current_person, @thought, comment], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_person_thought_comment_path(current_person, @thought) %>
