<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Thought:</b>
  <%= @comment.thought %>
</p>


<%= link_to 'Edit', edit_person_thought_comment_path(current_person, @thought, @comment) %> |
<%= link_to 'Back', person_thought_comments_path(current_person, @thought) %>
