<p id="notice"><%= notice %></p>
<p><%= current_person.email %></p>
<p><%= link_to 'Drop Box', my_drop_box_path %></p>

<%= link_to 'Edit', edit_person_path(current_person) %> |
<%= link_to 'Back', people_path %>
