= javascript ['jquery.resize-font','jquery.ajax', 'jquery.inline-editing', 'jquery.hover']
#notice= notice
= render :partial => "thoughts/thoughts", :locals => { :cloud => nil, :thoughts => @thoughts, :project => nil }
.prompt= t(:drop_box_email_address)
.sub-lil-space-top
  %span= link_to(image_tag('contact_card.png'), drop_box_vcf_path)
  %span.people-content= mail_to @drop_box.email_address, @drop_box.email_address, :class => 'clickable-object link'
.sub-lil-space-top
  %span.action= link_to t(:edit), edit_drop_box_path(@drop_box)
  %span.lil-space-left.action= link_to t(:download), drop_box_vcf_path
.space-top
.prompt=t(:bookmarklet)
.action= link_to '+Crumple', %(javascript:(function(){e =''+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text);if(e)e="\\n\\n"+e+"";open('http://#{Rails.application.config.top_level_domain}/thoughts/bookmarklet_new?thought[body]='+encodeURIComponent(location.href+'\\n\\n')+encodeURIComponent(document.title)+encodeURIComponent(e)+'&thought[state_event]=put_in_drop_box&thought[origin]=bookmarklet','Crumple','toolbar=no,width=400,height=400')})())
.lil-space-top.subtle-prompt=t(:drag_and_drop_to_toolbar)
