<p id="notice"><%= notice %></p>
<%= render :partial => "thoughts/thoughts", :locals => { :cloud => nil, :thoughts => @thoughts, :project => nil } %>
<h2>Helpers</h2>
<h3>Bookmarklet</h3>
<p>
<%= link_to 'Crumple Bookmarklet', %(javascript:(function(){var head=document.getElementsByTagName('head')[0],script=document.createElement('script');script.type='text/javascript';script.src='http://#{Rails.application.config.top_level_domain}/my_drop_box/bookmarklet.js?'+Math.floor(Math.random()*99999);head.appendChild(script);})();)%>
</p>
<h3>Email</h3>
<p><%= link_to 'Download vCard', drop_box_vcf_path %></p>
<p>Email: <%= mail_to @drop_box.email_address, @drop_box.email_address %> <%= link_to 'Edit', edit_drop_box_path(@drop_box) %></p>


