- title "Add On"

%p
  %strong Name:
  = @add_on.name
%p
  %strong Description:
  = @add_on.description
%p
  %strong Site:
  = @add_on.site
%p
  %strong Element Name:
  = @add_on.element_name

%p
  = link_to "Edit", edit_add_on_path(@add_on)
  |
  = link_to "Destroy", @add_on, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", add_ons_path
