- if defined?(include_thoughts_count) && include_thoughts_count
  .lil-space-top.subtle-prompt= t(:thought).pluralize
  - if project.thoughts.count > 0
    .three-px-top.norm-size= link_to pluralize(project.thoughts.with_state(:active).count,t(:thought)), project, :class=>'link gray'
    .lil-size.subtle-action.lil-space-top
      .lil-space-top= link_to project.thoughts.with_state(:archived).count.to_s + ' ' + t(:archived), project_thoughts_path(project, :state => :archived.to_s )
      .lil-space-top= link_to project.thoughts.with_state(:in_drop_box).count.to_s + ' ' + t(:in_drop_box), project_thoughts_path(project, :state => :in_drop_box.to_s )
      .lil-space-top.system-content.subtle-gray= project.thoughts.count.to_s + ' ' + t(:total)
        
  - else
    .lil-size
      %em= t(:none)
- if defined?(include_people_count) && include_people_count
  .lil-space-top.subtle-prompt= t(:person).pluralize
  - if project.members.count > 0
    .three-px-top.norm-size= pluralize(project.members.count,t(:person))
  - else
    .lil-size
      %em= t(:none)
.lil-space-top
  .subtle-prompt last updated
  .lil-size
    = l(project.updated_at, :format => :short)
    %div
      = time_ago_in_words project.updated_at
      ago
.lil-space-top
  .subtle-prompt created
  .lil-size
    = l(project.created_at, :format => :short)
    %div
      = time_ago_in_words project.created_at
      ago
