= javascript ['jquery.resize-font']
.align-right.one-fourth
  .align-right
    %span.subtle-action= link_to(t(:new_project), new_project_path)
.clear
.space-top.system-content.subtle-gray
  = page_entries_info @projects, :entry_name => t(:project)
  = '(' + pluralize(format("%.2f", @query_time), t(:second)) + ')'
.sub-lil-space-top= render 'projects'
