<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>
<p>
  <b>People:</b><br/>
  <%= link_to 'Add people to ' + @project.name, new_project_person_path(@project) %>
  <%= will_paginate @project_people %>
  <ul>
    <%= render @project_people %>    
  </ul>
  <%= will_paginate @project_people %>
  <%= link_to 'Add people to ' + @project.name, new_project_person_path(@project) %>
</p>
<p>
  <b>Thoughts:</b><br/>
  <%= link_to 'New thought about ' + @project.name, new_project_thought_path(@project) %>
  <%= will_paginate @project_thoughts %>
  <ul>
    <%= render @project_thoughts %>    
  </ul>
  <%= will_paginate @project_thoughts %>
  <%= link_to 'New thought about ' + @project.name, new_project_thought_path(@project) %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
