= javascript ['jquery.resize-font','jquery.autogrow-textarea', 'jquery.ajax', 'jquery.tipsy', 'jquery.inline-editing']
.people-content.resize-font= @project.name
.people-content.resize-font.gray= @project.description
- if @tags
  with tags: 
  = @tags.join(' ')
  = link_to 'x', @project
.lil-space-bottom
  %span.subtle-action.lil-space-right= link_to t(:edit), edit_project_path(@project) 
  %span.subtle-action= link_to_new_thought(@project)
= render :partial => "thoughts/thoughts", :locals => { :cloud => @tags_for_cloud, :thoughts => @thoughts, :project => @project }
