.prompt.lil-space-top= f.label :name
= f.text_field :name
  
.prompt.lil-space-top= f.label :monthly_fee
= f.text_field :monthly_fee

.prompt.lil-space-top= f.label :description
= f.text_area :description

