<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= @tagging.tag %>
</p>

<p>
  <b>Thought:</b>
  <%= @tagging.thought %>
</p>

<p>
  <b>Person:</b>
  <%= @tagging.person %>
</p>


<%= link_to 'Edit', edit_tagging_path(@tagging) %> |
<%= link_to 'Back', taggings_path %>
