= form_for @screenshot do |f|
  = f.error_messages
  %p
    = f.label :add_on
    %br
    = f.text_field :add_on
  %p
    = f.label :image_url
    %br
    = f.text_field :image_url
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.submit
