#comments
  = render @thought.comments.order("created_at ASC")
.prompt.lil-space-bottom
  %a{:name => 'comments'}= t(:comment)
%span#new_comment_loading
  = image_tag 'ajax-loader-bar.gif', :class => 'on-top'
.editing
  = form_for [@thought, @comment], :remote => true do |f|
    .body-container
      = f.text_area :body, :class => 'resize-font resize-textarea body'
    .align-right.lil-space-top
      = f.submit t(:save)
    .clear
