<%= javascript ['jquery.resize-font','jquery.autogrow-textarea','jquery.focus-textarea'] %>

<script type="text/javascript">
$(function() {
  $('.resize-textarea').autogrow();
});
</script>
<%= form_for(@thought) do |f| %>
<% if @thought.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@thought.errors.count, "error") %> prohibited this thought from being saved:</h2>

  <ul>
    <% @thought.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <div id="thought_body_wrapper"><%= f.text_area :body, :rows => 7, :class => 'resize-font resize-textarea thought-body' %></div>
</div>

<div id="new_thought_controls">  
  <div class="align-left">
    <div  class="align-left">
      <%= f.label :tags_list, t(:tag).pluralize.capitalize + ':' %>
      <%= f.text_field :tags_list %>
      <span class="optional align-left"><%= t(:optional) %></span>
    </div>
    <% if person_signed_in? %>
    <div class="align-left">
      <span><%= t(:project).capitalize %>: <%= collection_select(:thought, :project_id, current_person.projects.order('upper(name)').all, :id, :name, :prompt => true) %></span>
      <span class="optional align-left"><%= t(:optional) %></span>
    </div>    
    <div class="clear"></div>
    <% end %>
  </div>
  <div class="align-right actions">
    <%= f.hidden_field :state_event %>
    <%= f.hidden_field :origin %>
    <%= link_to t(:cancel), :back, :class => 'lil-space-right' if person_signed_in? %>
    <%= f.submit (t(:save) + ' ' + t(:thought)).titleize %>
  </div>
  <div class="clear"></div>
</div>  
<% end %>
