= javascript ['jquery.resize-font','jquery.autogrow-textarea','jquery.auto-focus']
:javascript
  $(document).ready(function(){
    $(function() {$('.resize-textarea').autogrow();});
  });
- if person_signed_in? && current_person.thought_add_ons.count > 0
  #tabs.ui-tabs
    = render 'tab_nav'
    #tab-0.thought-form
      = form_for thought, :as => :thought, :url => (thought.new_record? ? thoughts_path : thought_path(thought)), :remote => remote do |f|
        = f.text_area :body, :class => 'resize-font resize-textarea body auto-focus'
        = render 'meta_form', :f => f
    = render :partial => 'add_on_thoughts/form', :collection => @add_on_thoughts, :locals => {:remote => remote}
- else
  .body-container
    = form_for thought, :as => :thought, :url => (thought.new_record? ? thoughts_path : thought_path(thought)), :remote => remote do |f|
      = f.text_area :body, :class => 'resize-font resize-textarea body auto-focus'
      = render 'meta_form', :f => f
