%div
  Project:
  - if @thought.project
    = link_to @thought.project.name, @thought.project
  - else
    %em none
%div
  Tags:
  - @thought.tags.each do |t|
    = link_to t.name, t, :class=>'action'
%div
  Timing:
  %div
    last updated
    = l(@thought.updated_at, :format => :short)
    (
    = time_ago_in_words @thought.updated_at
    ago)
  %div
    created
    = l(@thought.created_at, :format => :short)
    (
    = time_ago_in_words @thought.created_at
    ago)
