%div
  = t(:project)
  - if @thought.project
    %span= link_to @thought.project.name, @thought.project, :class => 'clickable-object'
    %div= link_to t(:new_thought_about) + ' ' + @thought.project.name, new_project_thought_path(@thought.project), :class=>'subtle-action'
  - else
    %em none
    = link_to t(:new_thought), new_thought_path, :class=>'subtle-action lil-space-left'
.space-top
  Tags
  - @thought.tags.each do |t|
    = link_to t.name, t, :class=>'clickable-object'
.space-top
  Timing
  %div
    last updated
    = l(@thought.updated_at, :format => :short)
    (
    = time_ago_in_words @thought.updated_at
    ago)
  %div
    created
    = l(@thought.created_at, :format => :short)
    (
    = time_ago_in_words @thought.created_at
    ago)
