= javascript ['jquery.tabs']
%ul.ui-tabs-nav
  %li.tab{:data_add_on_id => 0}
    %a.active-tab{:href=>'#tab-0'}= image_tag('plain_text_29.png')
    %a.subtle-tab.hidden{:href=>'#tab-0'}= image_tag('plain_text_29_subtle.png')
  - current_person.thought_add_ons.each do |a|
    %li.tab{:data_add_on_id => a.to_param}
      %a.active-tab.hidden{:href=>"#tab-#{a.to_param}"}= a.icon_29_url.blank? ? a.name : image_tag(a.icon_29_url)
      %a.subtle-tab{:href=>"#tab-#{a.to_param}"}= a.icon_29_subtle_url.blank? ? a.name : image_tag(a.icon_29_subtle_url)
