<tr>
  <td><%= link_to truncate(thought.body), [current_person, thought] %></td>
  <td>
  <%= links_to_tags thought.tags, @project %>
  </td>
  <td><%= link_to thought.person.email, thought.person %></td>
  <% if thought.project %>
  <td><%= link_to thought.project.name, thought.project %></td>
  <% else %>
  <td><em>none</em></td>
  <% end %>
  <td>
    <% if thought.drop_box? %>
    <%= link_to 'Accept', accept_person_thought_path(current_person, thought) %>
    <% else %>
    <%= link_to 'Edit', edit_person_thought_path(current_person, thought) %>
    <% end %>
  </td>
  <td>
  <% if thought.archived? %>
  <%= link_to 'Activate', activate_person_thought_path(current_person, thought) %>
  <% else %>
  <%= link_to 'Archive', archive_person_thought_path(current_person, thought) %>
  <% end %>
  </td>
  <td><%= link_to 'Destroy', [current_person, thought], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>

