= link_to t(:edit), edit_thought_path(thought), :class=>'lil-space-right'
= link_to t(:focus), focus_thought_path(thought), :class=>'lil-space-right'
- if thought.archived?
  = link_to t(:activate), activate_thought_path(thought), :method => :put, :class=>'lil-space-right'
-elsif thought.in_drop_box?
  = link_to t(:accept), accept_thought_path(thought), :method => :put, :class=>'lil-space-right'
-elsif thought.active?
  = link_to t(:archive), archive_thought_path(thought), :method => :put, :class=>'lil-space-right'
= link_to t(:delete), [thought], :confirm => t(:r_u_sure).capitalize, :method => :delete
