<% if cloud %>
<p>
  <b>Tag cloud:</b><br/><br/>
  <%= crumple_tag_cloud cloud, project %>
</p>
<% end %>
<p>
  <b>Thoughts:</b><br/>
  <% unless thoughts.all?(&:drop_box?) %>
  <% if project %>
  <%= link_to 'New thought about ' + project.name, new_project_thought_path(project) %>
  <% else %>
  <%= link_to 'New thought', new_person_thought_path(current_person) %>
  <% end %>
  <% if @showing_archived_thoughts %>
  <% if project %>
  <%= link_to 'Active thoughts', project_path(project) %>
  <% else %>
  <%= link_to 'Active thoughts', person_thoughts_path(current_person) %>
  <% end %>
  <% else %>
  <% if project %>
  <%= link_to 'Archived thoughts', project_path(project, :archived_thoughts => 1) %>
  <% else %>
  <%= link_to 'Archived thoughts', person_thoughts_path(current_person, :archived_thoughts => 1) %>
  <% end %>
  <% end %>
  <% end %>

  <%= will_paginate thoughts %>
  <table>
    <tr>
      <th>Thought</th>
      <th>Tags</th>
      <th>Creator</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <%= render thoughts %>    
  </table>
  <%= will_paginate thoughts %>
  <% if project %>
  <%= link_to 'New thought about ' + project.name, new_project_thought_path(project) %>
  <% else %>
  <%= link_to 'New thought', new_person_thought_path(current_person) %>
  <% end %>
</p>
