<tr>
  <td><%= link_to truncate(thought.body), thought %></td>
  <td>
  <%= links_to_tags thought.tags, @project %>
  </td>
  <td><%= link_to thought.person.email, thought.person %></td>
  <% if thought.project %>
  <td><%= link_to thought.project.name, thought.project %></td>
  <% else %>
  <td><em>none</em></td>
  <% end %>
  <td><%= link_to 'Edit', edit_thought_path(thought) %></td>
  <td>
  <% if thought.archived? %>
  <%= link_to 'Activate', activate_thought_path(thought) %>
  <% else %>
  <%= link_to 'Archive', archive_thought_path(thought) %>
  <% end %>
  </td>
  <td><%= link_to 'Destroy', thought, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>

