<% if cloud %>
<p>
  <h2>Tag Cloud</h2>
  <%= crumple_tag_cloud cloud, project %>
</p>
<% end %>
<p>
  <h2>Thoughts</h2>
  <% unless @drop_box %>
    <% if @showing_archived_thoughts %>
      <% if project %>
      <%= link_to 'Active project thoughts', project_path(project) %>
      <% else %>
      <%= link_to 'Active thoughts', thoughts_path %>
      <% end %>
    <% else %>
      <% if project %>
        <%= link_to 'Archived project thoughts', archived_project_thoughts_path(project) %>
      <% else %>
        <%= link_to 'Archived thoughts', archived_thoughts_path %>
      <% end %>
    <% end %>
  <% end %>

  <%= will_paginate thoughts %>
  <table>
    <tr>
      <th>Thought</th>
      <th>Last Updated</th>
      <th>Tags</th>
      <th>Creator</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <%= render thoughts %>    
  </table>
  <%= will_paginate thoughts %>
</p>
