<tr>
  <td><%= link_to truncate(thought.body, 313), thought %></td>
  <td>
  <%=l thought.updated_at, :format => :short %> (<%= time_ago_in_words thought.updated_at %> ago)  </td>
  <td>
    <%= links_to_tags thought.tags, @project %>
  </td>
  <td><%= link_to thought.person.email, thought.person %></td>
  <% if thought.project %>
  <td><%= link_to thought.project.name, thought.project %></td>
  <% else %>
  <td><em>none</em></td>
  <% end %>
  <% if thought.in_drop_box? %>
  <td>
    <%= link_to 'Accept', accept_thought_path(thought), :method => :put %>
  </td>
  <% end %>
  <td>
    <%= link_to 'Edit', edit_thought_path(thought) %>
  </td>
  <td>
    <% if thought.archived? %>
    <%= link_to 'Activate', activate_thought_path(thought), :method => :put %>
    <% else %>
    <%= link_to 'Archive', archive_thought_path(thought), :method => :put %>
    <% end %>
  </td>
  <td><%= link_to 'Destroy', thought, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>

