%h2
  = image_tag 'logo57.png'
  Crumple
My
= link_to t(:new_thought), thought_path(@thought), :class => 'link'
is in my
= link_to(t(:drop_box), my_drop_box_path, :class => 'link') + ':'
.lil-space-top.body.people-content= link_to(truncate(simpler_format(h(@thought.body)), 313).html_safe, @thought)
.lil-space-top.action
  = link_to_function t(:close), 'window.close()'
