<h1>
  Thoughts
  <% if @tags %>
  for tags: 
  <%= @tags.join(' ')  %>
  <%= link_to 'x', thoughts_path %>
  <% end %>
</h1>
<%= link_to_new_thought %>
<%= link_to 'Visualize thoughts', visualize_thoughts_path(:style => 'Force') %>
<%= render :partial => "thoughts", :locals => { :cloud => @tags_for_cloud, :thoughts => @thoughts, :project => nil } %>
<%= link_to_new_thought %>
