<h1>Listing thoughts</h1>
<%= link_to 'New Thought', new_thought_path %>
<%= will_paginate @thoughts %>

<table>
  <tr>
    <th>Thought</th>
    <th>Tags</th>
    <th>Creator</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @thoughts %>

</table>

<br />

<%= will_paginate @thoughts %>

<%= link_to 'New Thought', new_thought_path %>
