<h2>Thoughts visualization</h2>
<p>
  Style: 
  <%= link_to_unless_current 'Arc', thoughts_path(:viz_style => 'Arc', :format => 'viz') %> | 
  <%= link_to_unless_current 'Force', thoughts_path(:viz_style => 'Force', :format => 'viz') %> | 
  <%= link_to_unless_current 'Matrix', thoughts_path(:viz_style => 'Matrix', :format => 'viz') %>
</p>
<div id="viz_container">
<script type="text/javascript+protovis">

<% @viz_style ||= 'Force' %>
<% if @viz_style == 'Matrix'  %>
var thoughts = <%= viz_data(current_person, @thoughts, @project, @tags, @taggings, false) %>

var color = pv.Colors.category19().by(function(d) d.group);

var vis = new pv.Panel()
    .width(693)
    .height(693)
    .top(90)
    .left(90);

var layout = vis.add(pv.Layout.Matrix)
    .nodes(thoughts.nodes)
    .links(thoughts.links)
    .sort(function(a, b) b.group - a.group);

layout.link.add(pv.Bar)
    .fillStyle(function(l) l.linkValue
        ? ((l.targetNode.group == l.sourceNode.group)
        ? color(l.sourceNode) : "#555") : "#eee")
    .antialias(false)
    .lineWidth(1);

layout.label.add(pv.Label)
    .textStyle(color);

vis.render();

<% else  %>
var thoughts = <%= viz_data(current_person, @thoughts, @project, @tags, @taggings) %>

// var w = document.body.clientWidth, h = document.body.clientHeight, colors = pv.Colors.category19();
var w = 1084, h = 625, colors = pv.Colors.category19();

var vis = new pv.Panel()
.width(w)
.height(h)
.fillStyle("white")
.event("mousedown", pv.Behavior.pan())
.event("mousewheel", pv.Behavior.zoom());

var network = vis.add(pv.Layout.<%= @viz_style %>)
.nodes(thoughts.nodes)
<% if @viz_style == 'Arc' %>
.sort(function(a, b) a.group == b.group
        ? b.linkDegree - a.linkDegree
        : b.group - a.group)
<% end %>
.links(thoughts.links);

network.link.add(pv.Line);

network.node.add(pv.Dot)
.cursor('pointer')
.size(function(d) (d.linkDegree + 20) * Math.pow(this.scale, -1.5))
.shape(function(d) d.group == 0 ? "diamond" : "circle")
.fillStyle(function(d) d.fix ? "brown" : colors(d.group))
.strokeStyle(function() this.fillStyle().darker())
.lineWidth(1)
.text(function(d) d.nodeName)
.event("mouseover", pv.Behavior.tipsy({offset: 5, gravity: 's', fade: false, html: true}))
// .event("mousedown", pv.Behavior.drag())
.event("click", function(d) {
  var base_url = "http://<%= Rails.application.config.top_level_domain %>"
  var model_id = d.nodeValue.split("_");
  if (model_id[0] == '<%= Thought.name %>') {self.location = base_url + "/thoughts/" + model_id[1]}
  else if (model_id[0] == '<%= Tag.name %>') {self.location = base_url + "/tags/" + model_id[1]}
})
.event("drag", network);

<% end %>

vis.render();

</script>

</div>
