= javascript ['jquery.resize-font','jquery.autogrow-textarea', 'jquery.ajax', 'jquery.tipsy']
:javascript
  $(function() {$('.resize-textarea').autogrow();});
#thoughts_show
  - if  @thought.in_drop_box?
    = t :in_drop_box
    = link_to(t(:accept), accept_thought_path(@thought), :method => :put, :class => 'action')
  .body.resize-font.people-content= display_text @thought.body
  .big-space-bottom.big-space-top
    .action
      = render 'thought_controls', :thought => @thought
    .clear
.subtle-border-top.norm-none-padding
  .align-left.three-fourths
    = render 'comments', :thought => @thought
  .align-right.one-fourth
    = render 'meta_data', :thought => @thought
  .clear
