= javascript ['jquery.resize-font','jquery.autogrow-textarea', 'jquery.ajax', 'jquery.tipsy', 'jquery.inline-editing', 'jquery.hover']
:javascript
  $(function() {$('.resize-textarea').autogrow();});
%span.loading
  = image_tag 'ajax-loader-bar.gif', :class => 'on-top'
#thoughts_show
  .body.resize-font.people-content
    - screen_shot_urls = []
    = display_text(@thought.body) do |url|
      - screen_shot_urls << url
  .norm-space-bottom.norm-space-top
    .action
      = render 'thought_controls', :thought => @thought
    .clear
#thoughts_edit.display-none
  = render 'form', :remote => true
  .norm-space-bottom.norm-space-top
= render 'light_box', :screen_shot_urls => screen_shot_urls
.subtle-border-top.norm-none-padding
  .align-left.three-fourths
    = render 'comments', :thought => @thought
  .align-right.one-fourth
    = render 'meta_data', :thought => @thought
  .clear
