= javascript ['jquery.resize-font','jquery.autogrow-textarea', 'jquery.ajax', 'jquery.tipsy', 'jquery.inline-editing']
:javascript
  $(function() {$('.resize-textarea').autogrow();});
#thoughts_show
  - if  @thought.in_drop_box?
    .lil-space-bottom
      %span.lil-size= t :in_drop_box
      = link_to(t(:accept), accept_thought_path(@thought), :method => :put, :class => 'action')
  .body.resize-font.people-content= display_text @thought.body
  .norm-space-bottom.norm-space-top
    .action
      = render 'thought_controls', :thought => @thought
    .clear
  .display-none
    = render 'form'
    .norm-space-bottom.norm-space-top
.subtle-border-top.norm-none-padding
  .align-left.three-fourths
    = render 'comments', :thought => @thought
  .align-right.one-fourth
    = render 'meta_data', :thought => @thought
  .clear
