<p id="notice"><%= notice %></p>

<p>
  <b>Typing:</b>
  <%= @thought.typing %>
</p>

<p>
  <b>Creator:</b>
  <%= link_to @thought.person.email, @thought.person %>
</p>

<p>
  <b>Project:</b>
  <%= link_to @thought.project.name, @thought.project %>
</p>


<%= link_to 'Edit', edit_thought_path(@thought) %> |
<%= link_to 'Back', thoughts_path %>
