= javascript ['jquery.resize-font']
#thoughts_show
  - if @thought.archived?
    %h3= 'Archived ' + link_to('activate', activate_thought_path(@thought), :method => :put)
  - elsif  @thought.in_drop_box?
    %h3= 'In Drop Box ' + link_to('accept', accept_thought_path(@thought), :method => :put)
  #thought_body.thought-body.resize-font= display_text @thought.body
  #thought-controls.lil-space-top
    .align-left
      = link_to 'Edit', edit_thought_path(@thought), :class=>'action'
      = link_to 'Focus', focus_thought_path(@thought), :class=>'action lil-space-left'
    .align-right
      - if @thought.archived?
        = link_to 'Activate', activate_thought_path(@thought), :method => :put, :class=>'action lil-space-right'
      -elsif @thought.in_drop_box?
        = link_to 'Accept', accept_thought_path(@thought), :method => :put, :class=>'action lil-space-right'
      -elsif @thought.active?
        = link_to 'Archive', archive_thought_path(@thought), :method => :put, :class=>'action lil-space-right'
      = link_to 'Destroy', [@thought], :confirm => 'Are you sure?', :method => :delete, :class=>'action'
    .clear
.big-space-top
  .align-left.half
    = render 'comments'
  .align-right.half
    = render 'meta_data'
  .clear
