<p id="notice"><%= notice %></p>

<% if @thought.archived? %>
<h3><%= @thought.state %> <%= link_to 'active', activate_thought_path(@thought) %></h3>
<% end %>

<p>
  <b>Typing:</b>
  <%= @thought.typing %>
</p>

<p>
  <b>Tags:</b>
  <%= @thought.tag_list %>
</p>

<p>
  <b>Creator:</b>
  <%= link_to @thought.person.email, @thought.person %>
</p>

<p>
  <b>Project:</b>
  <% if @thought.project %>
  <%= link_to @thought.project.name, @thought.project  %>
  <% else %>
  <em>none</em>
  <% end %>
</p>


<%= link_to 'Edit', edit_thought_path(@thought) %> |
<% if @thought.archived? %>
<%= link_to 'Activate', activate_thought_path(@thought) %> |
<% else %>
<%= link_to 'Archive', archive_thought_path(@thought) %> |
<% end %>
<%= link_to 'Back', thoughts_path %> |
<%= link_to 'New thought about ' + @thought.project.name, new_project_thought_path(@thought.project) %>
