<p id="notice"><%= notice %></p>

<p>
  <b>Typing:</b>
  <%= @thought.typing %>
</p>

<p>
  <b>Tags:</b>
  <%= @thought.tag_list %>
</p>

<p>
  <b>Creator:</b>
  <%= link_to @thought.person.email, @thought.person %>
</p>

<p>
  <b>Project:</b>
  <% if @thought.project %>
  <%= link_to @thought.project.name, @thought.project  %>
  <% else %>
  <em>none</em>
  <% end %>
</p>


<%= link_to 'Edit', edit_thought_path(@thought) %> |
<%= link_to 'Back', thoughts_path %> |
<%= link_to 'New thought about ' + @thought.project.name, new_project_thought_path(@thought.project) %>
