<!--[if !IE 7]>
<style type="text/css">
#wrap {display:table;height:100%}
</style>
<![endif]-->

#footer
  #footer_container
    .align-left.valign32
      - if person_signed_in?
        = link_to (image_tag('logo32.png')), root_path
        = link_to t(:product_name), root_path, :class => 'five-px-left space-right'
      = link_to t(:creative_commons_license), 'http://creativecommons.org/licenses/by-sa/3.0/', :rel => 'license'
    .align-right.valign32
      = link_to t(:about), page_path('about'), :class => about_nav_class
      = link_to t(:contact), page_path('contact'), :class => 'lil-space-left' + contact_nav_class
      = link_to t(:privacy), page_path('privacy'), :class => 'lil-space-left' + privacy_nav_class
      = link_to t(:legal), page_path('legal'), :class => 'lil-space-left' + legal_nav_class
      = link_to 'Twitter', 'http://twitter.com/crumpleapp', :class => 'lil-space-left'
      = link_to 'Facebook', 'http://www.facebook.com/pages/Crumple/39742612684', :class => 'lil-space-left'
    .clear