!!! 5
%html
  = render 'layouts/head'
  %body
    #wrap
      #main
        #container
          = render 'layouts/header'
          #flash_container
            - flash.each do |name, msg|
              - next if msg.blank?
              = content_tag :div, msg, :id => "flash_#{name}"
          #content
            = yield
    = render 'layouts/footer'
