<!DOCTYPE html>
<html>
<head>
  <title>Crumple</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if person_signed_in? %>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Thoughts', thoughts_path %>
  <%= link_to_dropbox %>
  <%= link_to 'Projects', projects_path %>
  <%= link_to current_person.email, current_person %>
  <%= link_to "Sign Out", destroy_person_session_path %>
  <% else %>
  <%= link_to "Sign up", new_person_registration_path %> or <%= link_to "Sign in", new_person_session_path %>
  <% end %>

  <%= yield %>

</body>
</html>
