<!DOCTYPE html>
<html>
<head>
  <title><%= t(:product_name).capitalize %></title>

  <link rel="shortcut icon" href="/favicon.ico" type='image/x-icon' />
  <link rel="icon" href="/favicon.ico" type='image/x-icon' />

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery.rails.js', 'protovis-r3.2.js', 'jquery.tipsy', 'protovis.tipsy', 'jquery.auto-link.js' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5885415-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    <!-- iPhone stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/images/logo114.png" />    
</head>
<body>
  <div id="wrap">
    <div id="main">
      <div id="container">
        <div id="header">
          <%= content_tag :h1, yield(:title) if show_title? %>
          <% if person_signed_in? %>
          <div id="top-nav">
            <span class="align-left">
              <%= link_to t(:home), root_path, :class => home_nav_class %>
              <%= link_to t(:thought).pluralize, thoughts_path, :class => 'lil-space-left' + thoughts_nav_class %>
              <%= link_to t(:project).pluralize, projects_path, :class => 'lil-space-left' + projects_nav_class %>
              <%= link_to_drop_box %>
            </span>
            <span class="align-right">          
              <%= link_to t(:settings), me_path, :class => 'lil-space-left' %>
              <%= link_to t(:sign_out), destroy_person_session_path, :class => 'lil-space-left' %>
            </span> 
            <div class="clear"></div>              
          </div>
          <% else %>
          <div id="home_marketing_container" class="align-left">
            <span id="product_logo"><%= link_to (image_tag('logo57.png')), root_path %></span>
            <span>
              <span id="product_name"><%= link_to t(:product_name), root_path %></span>
              <span id="product_version"><%= t(:product_version) %></span>
              <div id="product_tag_line"><%= t(:product_tag_line) %></div>            
            </span>
          </div>
          <div id="sign_in_sign_up" class="align-right">
            <%= link_to t(:sign_up), new_person_registration_path %>
            <%= link_to t(:sign_in), new_person_session_path, :class => 'lil-space-left' %>
          </div>
          <div class="clear"></div>
          <% end %>
        </div>
        <div id="flash-container">
          <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>            
        </div>
        <div id="content">
          <%= yield %>        
        </div>
      </div>
    </div>
  </div>
  <!--[if !IE 7]>
  <style type="text/css">
  #wrap {display:table;height:100%}
  </style>
  <![endif]-->
  <div id="footer">
    <div class="align-left">
      <%= link_to t(:creative_commons_license), 'http://creativecommons.org/licenses/by-sa/3.0/', :rel => 'license'%>
    </div>
    <div class="align-right">
      <%= link_to t(:about), '#' %>
      <%= link_to t(:contact), '#' %>
      <%= link_to t(:privacy), '#' %>
      <%= link_to t(:legal), '#' %>
      <%= link_to 'Twitter', 'http://twitter.com/crumpleapp' %>
      <%= link_to 'Facebook', 'http://www.facebook.com/pages/Crumple/39742612684' %>          
    </div>
    <div class="clear"></div>
  </div> 
</body>
</html>
